 h1 {
          color:#EFFF1F;
          width: 50%;
          padding: 8px;
          margin-top: 5px;
          margin-bottom: 15px;
          margin: 10px 0 20px;
          font-size: 35px;
          box-shadow: 0 0 15px rgba(133, 16, 116, 0.94);
          font-family: Brush Script MT, cursive;
        }
        
        p1{
          color:#4930F0;
        }
        
        ol{
          color:#DF00FF;
         
        }
        li{
          color:#3D50EB;
        }
        
        body {
            background-color: lightblue;
            font-family: Comic Sans MS, Arial, Verdana;
        }
        
        
        form {
            font-family: 'Poppins', Verdana, sans-serif;
            background: white;
            padding: 20px;
            border-radius: 12px;
            width: 350px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        label {
            font-weight: bold;
        }

        input, textarea, select {
            width: 100%;
            padding: 6px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #888;
            border-radius: 5px;
            font-family: inherit;
        }
        

        button {
            background-color: #F54927;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            font-family: inherit;
        }

        button:hover {
            background-color: #005ea8;
        }
         img {
      width: 300px;
      border-radius: 20px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.5);
      margin: 20px;
    }
    header {
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            color: white;
            padding: 30px 0;
            text-align: center;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            margin-bottom: 30px;
        }
    footer {
            text-align: center;
            padding: 20px;
            margin-top: 40px;
            background-color: #2c3e50;
            color: white;
            border-radius: 10px 10px 0 0;
        }
    
